.Main
  .Main__header
    .Main__header__left-box
      .Main__header__left-box__name
        = @group.name
      .Main__header__left-box__list
        Member :
        - @group.users.each do |user|
          =user.name
    .Main__header__edit
      =link_to edit_group_path(@group) do
        Edit
  .MessageBox
    = render @messages
  
  .Main__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |form|
      .Main__form__send
        .Main__form__send__message
          .Main__form__send__message__text
            = form.text_field :content, class: 'text', placeholder: "type a message"
            .Main__form__send__message__text__image
              .Main__form__send__message__text__image__icon
                =form.label :image, class: 'input-box__image' do
                  = icon('fas', 'image')
                .Main__form__send__message__text__image__file
                  =form.file_field :image, class: 'file'
        .Main__form__send__btn
          = form.submit 'Send', class: 'submit-btn'