.Side
  .Side__header
    .Side__header__box
      .Side__header__box__name
        = current_user.name
      .Side__header__box__setup
        =link_to new_group_path do
          = icon('far', 'edit')
        =link_to edit_user_path("setup__btn") do
          = icon('fas', 'cog')
  .Side__group
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .Side__group__name
          = group.name
        .Side__group__message
          = group.show_last_message